.quiz-card {
    width: 40%;
    height: 45%;
    margin: 2%;
}

.quiz-card:hover{
    transform: scale(0.95);
}

.level:hover {
    transform: scale(0.9);
}

.level-button:hover {
    background-color: red !important;
}
.win-box{
    height: 200px;
}
.category-button:hover{
    background-color: green !important;
}